.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-color: #fff;
}

.video-wrapper {
  position: relative;
  max-width: 650px;
  
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 30px #00000020; 
}

.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}

/* Bigger Play Button */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 2;
  box-shadow: 0 6px 20px rgba(101, 81, 81, 0.2);
}

.play-button:hover {
  background-color: #0056b3;
}
